[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.16
[submodule "src/peregrine_core"]
	path = src/peregrine_core
	url = https://github.com/varadVaidya/peregrine_core.git
	branch = main
[submodule "src/behaviortree_ros2"]
	path = src/behaviortree_ros2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
